Django==4.0.6
python-jose==3.3.0
social-auth-app-django==5.0.0
#crispy-tailwind==0.5.0
crispy-tailwind @ git+https://github.com/django-crispy-forms/crispy-tailwind.git
rules==3.3
gunicorn==20.1.0
psycopg2==2.9.3
dj-database-url==0.5.0
django-storages==1.12.3
boto3==1.24.32
django-cleanup==6.0.0
Pillow==9.2.0
jsonpath-ng==1.5.3
django-filter==22.1
markdown==3.3.7

flake8==4.0.1
black==22.6.0
