{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load static %}
{% block head %}
<meta http-equiv="refresh" content="300">
{# https://www.srihash.org/ #}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
  integrity="sha384-Nh5DPXalR9stszhRpPoPEIgr5F2M4xe7DWJ7iqTp8FtJz0cvNdO/NvY2yjUSLfIS"
  crossorigin="anonymous" />
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
  integrity="sha384-4Dmmo81xejNChaqLOci80VhUcuEAD5pXpCtqtizmdgWEzdETh3zrJvzOhU4T79cN"
  crossorigin="anonymous"></script>
{% endblock %}
{% block title %}Objector + {% translate "Dashboard" %}{% endblock %}
{% block h1 %}{% translate "Dashboard" %}{% endblock %}
{% block h2 %}{{ current_datetime }}{% endblock %}
{% block content %}

<div class="px-4 py-5 sm:px-6">
  <h2 id="tasks-title" class="text-lg leading-6 font-medium text-gray-900">
    {% translate "Tasks" %}
  </h2>
</div>

<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                {% translate "Overdue" %}
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                {% translate "Due" %}
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                {% translate "Pending" %}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                {% if overdue_tasks_count > 0 %}
                <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full bg-red-100 text-red-800">
                  <a href="{% url 'maintenance:task-list' %}?status=10">{{ overdue_tasks_count }}</a>
                </div>
                {% else %}
                <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full bg-gray-100 text-gray-800">
                  <a href="{% url 'maintenance:task-list' %}">{{ overdue_tasks_count }}</a>
                </div>
                {% endif %}
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                {% if due_tasks_count > 0 %}
                <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full bg-amber-100 text-amber-800">
                  <a href="{% url 'maintenance:task-list' %}?status=20">{{ due_tasks_count }}</a>
                </div>
                {% else %}
                <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full bg-gray-100 text-gray-800">
                  <a href="{% url 'maintenance:task-list' %}">{{ due_tasks_count }}</a>
                </div>
                {% endif %}
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                {% if pending_tasks_count > 0 %}
                <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full bg-green-100 text-green-800">
                  <a href="{% url 'maintenance:task-list' %}?status=30">{{ pending_tasks_count }}</a>
                </div>
                {% else %}
                <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full bg-gray-100 text-gray-800">
                  <a href="{% url 'maintenance:task-list' %}">{{ pending_tasks_count }}</a>
                </div>
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% if locations %}
<div class="px-4 py-5 sm:px-6">
  <h2 id="map-title" class="text-lg leading-6 font-medium text-gray-900">
    {% translate "Map" %}
  </h2>
</div>
<div id="map" style="width: 100%; height: 600px;"></div>
<script>
  var map = L.map('map');
  map.fitBounds([
    [{{ locations_aggregates.latitude__max|default:47.76|unlocalize }}, {{ locations_aggregates.longitude__min|default:6.02|unlocalize }}],
    [{{ locations_aggregates.latitude__min|default:45.77|unlocalize }}, {{ locations_aggregates.longitude__max|default:10.45|unlocalize }}]
  ]);

  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
      'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw'
  }).addTo(map);
  var greenIcon = L.icon({iconUrl: '{% static 'common/img/marker-icon-green.png' %}', iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [0, -34]});
  var amberIcon = L.icon({iconUrl: '{% static 'common/img/marker-icon-amber.png' %}', iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [0, -34]});
  var redIcon   = L.icon({iconUrl: '{% static 'common/img/marker-icon-red.png' %}',   iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [0, -34]});
  {% for location in locations %}
      var marker{{ location.id }} = L.marker([{{ location.latitude|unlocalize }}, {{ location.longitude|unlocalize }}], { icon: {{ location.status_color }}Icon }).bindPopup("<a href='{% url 'inventory:location-detail' location.id %}'>{{ location.name }}</a>").addTo(map);
  {% endfor %}
</script>
{% endif %}
{% endblock %}
