{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load static %}
{% block head %}
<meta http-equiv="refresh" content="300">
{# https://www.srihash.org/ #}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
  integrity="sha384-Nh5DPXalR9stszhRpPoPEIgr5F2M4xe7DWJ7iqTp8FtJz0cvNdO/NvY2yjUSLfIS"
  crossorigin="anonymous" />
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
  integrity="sha384-4Dmmo81xejNChaqLOci80VhUcuEAD5pXpCtqtizmdgWEzdETh3zrJvzOhU4T79cN"
  crossorigin="anonymous"></script>
{% endblock %}
{% block title %}Objector + {% translate "Dashboard" %}{% endblock %}
{% block h1 %}{% translate "Dashboard" %}{% endblock %}
{% block h2 %}{{ current_datetime }}{% endblock %}
{% block content %}

<div class="px-4 py-5 sm:px-6">
  <h2 id="tasks-title" class="text-lg leading-6 font-medium text-gray-900">
    {% translate "Summary" %}
  </h2>
</div>

<div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
  <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
    <div class="flex-1 min-w-0">
      <p class="text-sm font-medium text-gray-900">{% translate "Tasks" %}</p>
      {% if overdue_tasks_count > 0 %}
      <p class="text-sm text-red-500 truncate"><a href="{% url 'maintenance:task-list' %}?status=10">{{ overdue_tasks_count }} {% translate "Overdue" %}</a></p>
      {% else %}
      <p class="text-sm text-gray-500 truncate"><a href="{% url 'maintenance:task-list' %}">{{ overdue_tasks_count }} {% translate "Overdue" %}</a></p>
      {% endif %}
      {% if due_tasks_count > 0 %}
      <p class="text-sm text-amber-500 truncate"><a href="{% url 'maintenance:task-list' %}?status=20">{{ due_tasks_count }} {% translate "Due" %}</a></p>
      {% else %}
      <p class="text-sm text-gray-500 truncate"><a href="{% url 'maintenance:task-list' %}">{{ due_tasks_count }} {% translate "Due" %}</a></p>
      {% endif %}
      {% if pending_tasks_count > 0 %}
      <p class="text-sm text-green-500 truncate"><a href="{% url 'maintenance:task-list' %}?status=30">{{ pending_tasks_count }} {% translate "Pending" %}</a></p>
      {% else %}
      <p class="text-sm text-gray-500 truncate"><a href="{% url 'maintenance:task-list' %}">{{ pending_tasks_count }} {% translate "Pending" %}</a></p>
      {% endif %}
    </div>
  </div>

  <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
    <div class="flex-1 min-w-0">
      <p class="text-sm font-medium text-gray-900">{% translate "Sensors" %}</p>
      {% if red_sensors_count > 0 %}
      <p class="text-sm text-red-500 truncate"><a href="{% url 'inventory:sensor-list' %}?status=10">{{ red_sensors_count }} {% translate "Overdue" %}</a></p>
      {% else %}
      <p class="text-sm text-gray-500 truncate"><a href="{% url 'inventory:sensor-list' %}">{{ red_sensors_count }} {% translate "Alert" %}</a></p>
      {% endif %}
      {% if amber_sensors_count > 0 %}
      <p class="text-sm text-amber-500 truncate"><a href="{% url 'inventory:sensor-list' %}?status=20">{{ amber_sensors_count }} {% translate "Due" %}</a></p>
      {% else %}
      <p class="text-sm text-gray-500 truncate"><a href="{% url 'inventory:sensor-list' %}">{{ amber_sensors_count }} {% translate "Warning" %}</a></p>
      {% endif %}
      {% if green_sensors_count > 0 %}
      <p class="text-sm text-green-500 truncate"><a href="{% url 'inventory:sensor-list' %}?status=30">{{ green_sensors_count }} {% translate "Pending" %}</a></p>
      {% else %}
      <p class="text-sm text-gray-500 truncate"><a href="{% url 'inventory:sensor-list' %}">{{ green_sensors_count }} {% translate "Normal" %}</a></p>
      {% endif %}
    </div>
  </div>
</div>

{% if locations %}
<div class="px-4 py-5 sm:px-6">
  <h2 id="map-title" class="text-lg leading-6 font-medium text-gray-900">
    {% translate "Map" %}
  </h2>
</div>
<div id="map" style="width: 100%; height: 600px;"></div>
<script>
  var map = L.map('map');
  map.fitBounds([
    [{{ locations_aggregates.latitude__max|default:47.76|unlocalize }}, {{ locations_aggregates.longitude__min|default:6.02|unlocalize }}],
    [{{ locations_aggregates.latitude__min|default:45.77|unlocalize }}, {{ locations_aggregates.longitude__max|default:10.45|unlocalize }}]
  ]);

  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
      'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw'
  }).addTo(map);
  var greenIcon = L.icon({iconUrl: '{% static 'common/img/marker-icon-green.png' %}', iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [0, -34]});
  var amberIcon = L.icon({iconUrl: '{% static 'common/img/marker-icon-amber.png' %}', iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [0, -34]});
  var redIcon   = L.icon({iconUrl: '{% static 'common/img/marker-icon-red.png' %}',   iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [0, -34]});
  {% for location in locations %}
      var marker{{ location.id }} = L.marker([{{ location.latitude|unlocalize }}, {{ location.longitude|unlocalize }}], { icon: {{ location.status_color }}Icon }).bindPopup("<a href='{% url 'inventory:location-detail' location.id %}'>{{ location.name }}</a>").addTo(map);
  {% endfor %}
</script>
{% endif %}
{% endblock %}
