{% extends 'base.html' %}
{% load i18n %}
{% block title %}Objector + Home{% endblock %}
{% block h1 %}{% translate "Welcome" %}{% endblock %}
{% block h2 %}Object stamina!{% endblock %}
{% block content %}
<div class="pb-5 border-b border-gray-200">
  <p class="mt-2 max-w-4xl">Objector wants to improve your objects stamina - by applying
    maintenance and keeping track of it.</p>
</div>
<div>
  <ol>
    <li>+ Add your objects and maintenance tasks</li>
    <li>+ Group objects by location</li>
    <li>+ Get to know about upcoming or overdue tasks</li>
    <li>+ Set up management or maintenance</li>
  </ol>
</div>
{% endblock %}
