{% extends 'base.html' %}
{% load i18n %}
{% block title %}Objector + Home{% endblock %}
{% block h1 %}{% translate "Welcome" %}{% endblock %}
{% block h2 %}{% translate "Improve object stamina!" %}{% endblock %}
{% block content %}
<div class="pb-5 border-b border-gray-200">
  <p class="mt-2 max-w-4xl">{% translate "Objector wants to improve your objects stamina - by applying maintenance and keeping track of it." %}</p>
</div>
<div>
  <ol>
    <li>+ {% translate "Add your locations, objects, sensors and maintenance tasks" %}</li>
    <li>+ {% translate "Group objects by location" %}</li>
    <li>+ {% translate "Get to know about upcoming or overdue tasks" %}</li>
    <li>+ {% translate "Set up management and maintenance" %}</li>
  </ol>
</div>
{% endblock %}
