{% extends "base.html" %}
{% load i18n %}
{% block title %}Objector + {% translate "User confirm delete" %} + {{ user }}{% endblock %}
{% block h1 %}{% translate "User confirm delete" %}{% endblock %}
{% block h2 %}{{ user }}{% endblock %}
{% block content %}
<form method="post">{% csrf_token %}
  <p>{% translate "Are you sure you want to delete" %} "{{ user }}"?</p>
  <div class="pt-5">
    <div class="flex justify-end">
      <button type="submit" class="ml-3 bg-white py-2 px-4 border border-red-300 rounded-md shadow-sm text-sm font-medium text-red-700 hover:bg-red-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        {% translate "Delete" %}
      </button>
      <button type="button" class="ml-3 bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <a href="{% url 'common:user-detail' user.id %}">{% translate "Cancel" %}</a>
      </button>
    </div>
  </div>
</form>
{% endblock %}
