{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}Objector + {% translate "User form" %} + {{ user }}{% endblock %}
{% block h1 %}{% translate "User form" %}{% endblock %}
{% block h2 %}{{ user }}{% endblock %}
{% block content %}
<form method="POST" enctype="multipart/form-data" class="space-y-8 divide-y divide-gray-200">{% csrf_token %}
  {{ form | crispy }}
  <div class="pt-5">
    <div class="flex justify-end">
        <button type="submit"
            class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            {% translate "Save" %}
        </button>
    </div>
</div>
</form>
{% endblock %}
