{% extends "base.html" %}
{% load i18n %}
{% load rules %}
{% block title %}Objector + {% translate "Location detail" %} + {{ location }}{% endblock %}
{% block h1 %}{% translate "Location detail" %}{% endblock %}
{% block h2 %}{{ location }}{% endblock %}
{% block content %}
<section aria-labelledby="location-detail-title">
  <div class="bg-white shadow sm:rounded-lg">
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Name" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ location.name }}
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Status" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            <div
              class="inline-flex items-baseline px-2.5 py-0.5 rounded-full bg-{{ location.status_color }}-100 text-{{ location.status_color }}-800">
              {{ location.get_status_display }}
            </div>
          </dd>
        </div>
        <div class="sm:col-span-2">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Description" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ location.description|linebreaksbr }}
          </dd>
        </div>
      </dl>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-2">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Address" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ location.address|linebreaksbr }}
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Latitude" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ location.latitude }}
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Longitude" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ location.longitude }}
          </dd>
        </div>
      </dl>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-2">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Owner" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ location.owner }}
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Management group" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ location.management_group }}
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Maintenance group" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ location.maintenance_group }}
          </dd>
        </div>
      </dl>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Created at" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ location.created_at }}
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Updated at" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ location.updated_at }}
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Created by" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ location.created_by }}
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Updated by" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ location.updated_by }}
          </dd>
        </div>
      </dl>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <div class="pt-5">
        <div class="flex justify-end">
          <a href="{% url 'maintenance:journal-list' %}?object__location={{ location.id }}" class="ml-3 bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            {% translate "Journal" %}
          </a>
          {% has_perm 'inventory.change_location' user location as can_change_location %}
          {% if can_change_location %}
          <a href="{% url 'inventory:location-update' location.id %}" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            {% translate "Change" %}
          </a>
          {% endif %}
          <a href="{% url 'inventory:location-list' %}" class="ml-3 bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            {% translate "List" %}
          </a>
          {% has_perm 'inventory.delete_location' user location as can_delete_location %}
          {% if can_delete_location %}
          <a href="{% url 'inventory:location-delete' location.id %}" class="ml-3 bg-white py-2 px-4 border border-red-300 rounded-md shadow-sm text-sm font-medium text-red-700 hover:bg-red-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            {% translate "Delete" %}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 py-5 sm:px-6">
    <h2 id="object-detail-title" class="text-lg leading-6 font-medium text-gray-900">
      {% translate "Objects" %}
    </h2>
  </div>
  {% if object_list %}
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  {% translate "Name" %}
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  {% translate "Description" %}
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider hidden md:table-cell">
                  {% translate "Updated at" %}
                </th>
                <th scope="col" class="relative px-6 py-3 hidden lg:table-cell">
                  <span class="sr-only">{% translate "Action" %}</span>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for object in object_list %}
              <tr class="bg-white">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full bg-{{ object.status_color }}-100 text-{{ object.status_color }}-800">
                    <a href="{% url 'inventory:object-detail' object.id %}">{{ object.name }}</a>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  {{ object.description|truncatewords:3 }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 hidden md:table-cell">
                  {{ object.updated_at }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium hidden lg:table-cell">
                  <div class="ml-4 flex-shrink-0 flex space-x-4 justify-end">
                    {% has_perm 'inventory.view_object' user object as can_view_object %}
                    {% if can_view_object %}
                    <a href="{% url 'inventory:object-detail' object.id %}"  class="text-indigo-600 hover:text-indigo-900">
                      {% translate "View" %}
                    </a>
                    {% endif %}
                    {% has_perm 'inventory.change_object' user object as can_change_object %}
                    {% if can_change_object %}
                    <a href="{% url 'inventory:object-update' object.id %}" class="text-indigo-600 hover:text-indigo-900">
                      {% translate "Change" %}
                    </a>
                    {% endif %}
                    {% has_perm 'inventory.delete_object' user object as can_delete_object %}
                    {% if can_delete_object %}
                    <a href="{% url 'inventory:object-delete' object.id %}" class="text-indigo-600 hover:text-indigo-900">
                      {% translate "Delete" %}
                    </a>
                    {% endif %}
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
    <a href="{% url 'inventory:object-create' %}?location={{ location.id }}" class="inline-flex items-center p-2 border border-transparent rounded-full shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      <!-- Heroicon name: outline/plus-sm -->
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
      </svg>
    </a>
  </div>
</section>
{% endblock %}
