{% extends "base.html" %}
{% load i18n %}
{% block title %}Objector + Object detail + {{ object.name }}{% endblock %}
{% block h1 %}{% translate "Object detail" %}{% endblock %}
{% block h2 %}{{ object.name }}{% endblock %}
{% block content %}
<section aria-labelledby="applicant-information-title">
  <div class="bg-white shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h2 id="applicant-information-title" class="text-lg leading-6 font-medium text-gray-900">
        {% translate "Object detail" %}
      </h2>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        {{ object.name }}
      </p>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Name" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ object.name }}
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Status" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            <div
              class="inline-flex items-baseline px-2.5 py-0.5 rounded-full bg-{{ object.status_color }}-100 text-{{ object.status_color }}-800">
              {{ object.get_status_display }}
            </div>
          </dd>
        </div>
        <div class="sm:col-span-2">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Description" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ object.description|linebreaksbr }}
          </dd>
        </div>
      </dl>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-2">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Owner" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ object.owner }}
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Management team" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ object.management_team }}
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Maintenance team" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ object.maintenance_team }}
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Created at" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ object.created_at }}
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Updated at" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ object.updated_at }}
          </dd>
        </div>
      </dl>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <div class="pt-5">
        <div class="flex justify-end">
          <a href="{% url 'inventory:object-update' object.id %}"><button type="button"
              class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">{% translate "Change" %}</button></a>
          <a href="{% url 'inventory:object-list' %}"><button type="button"
              class="ml-3 bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">{% translate "List" %}</button></a>
          <a href="{% url 'inventory:object-delete' object.id %}"><button type="button"
              class="ml-3 bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">{% translate "Delete" %}</button></a>
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 py-5 sm:px-6">
    <h2 id="applicant-information-title" class="text-lg leading-6 font-medium text-gray-900">
      {% translate "Tasks" %}
    </h2>
  </div>
  {% if task %}
  {% load rules %}
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  {% translate "Name" %}
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  {% translate "Description" %}
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  {% translate "Object" %}
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  {% translate "Status" %}
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  {% translate "Due on" %}
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  {% translate "Overdue on" %}
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  {% translate "Updated at" %}
                </th>
                <th scope="col" class="relative px-6 py-3">
                  <span class="sr-only">{% translate "Action" %}</span>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for task in task %}
              <tr class="bg-white">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <a href="{% url 'maintenance:task-detail' task.object.id task.id %}">{{ task.name }}</a>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  {{ task.description|truncatewords:"5" }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  {% if task.object %}
                  <a href="{% url 'maintenance:task-detail' task.object.id task.id%}">
                    {{ task.object }}
                  </a>
                  {% else %}
                  {{ task.object }}
                  {% endif %}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  <div
                    class="inline-flex items-baseline px-2.5 py-0.5 rounded-full bg-{{ task.status_color }}-100 text-{{ task.status_color }}-800">
                    {{ task.get_status_display }}
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  {{ task.due_at }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  {{ task.overdue_at }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  {{ task.updated_at }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <div class="ml-4 flex-shrink-0 flex space-x-4">
                    {% has_perm 'journal.view_task' user task as can_view_task %}
                    {% if can_view_task %}
                    <a href="{% url 'maintenance:task-detail' task.id %}"><button type="button"
                        class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        {% translate "View" %}
                      </button></a>
                    {% endif %}
                    {% has_perm 'journal.change_task' user task as can_change_task %}
                    {% if can_change_task %}
                    <a href="{% url 'maintenance:task-update' task.id %}"><button type="button"
                        class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        {% translate "Change" %}
                      </button></a>
                    {% endif %}
                    {% has_perm 'journal.delete_task' user task as can_delete_task %}
                    {% if can_delete_task %}
                    <a href="{% url 'maintenance:task-delete' task.id %}"><button type="button"
                        class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        {% translate "Delete" %}
                      </button></a>
                    {% endif %}
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
    <a href="{% url 'maintenance:task-create' %}?object={{ object.id }}">
      <button type="button"
        class="inline-flex items-center p-2 border border-transparent rounded-full shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <!-- Heroicon name: outline/plus-sm -->
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
          aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
        </svg>
      </button>
    </a>
  </div>
  <div class="px-4 py-5 sm:px-6">
    <h2 id="applicant-information-title" class="text-lg leading-6 font-medium text-gray-900">
      {% translate "Journal" %}
    </h2>
  </div>
  {% if journal %}
  {% load rules %}
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  {% translate "Notes" %}
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  {% translate "Image" %}
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  {% translate "labor costs" %}
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  {% translate "material costs" %}
                </th>
                <th scope="col" class="relative px-6 py-3">
                  <span class="sr-only">{% translate "Action" %}</span>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for journal in journal %}
              <tr class="bg-white">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <a href="{% url 'maintenance:journal-detail' journal.object.id journal.id %}">{{ journal.notes }}</a>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  {% if journal.image %}
                  <a href="{{ journal.image.url }}"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5"
                      viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd"
                        d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z"
                        clip-rule="evenodd" />
                    </svg></a>
                  {% else %}
                  {{ journal.image }}
                  {% endif %}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  {{ journal.labor_costs }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  {{ journal.material_costs }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <div class="ml-4 flex-shrink-0 flex space-x-4">
                    {% has_perm 'maintenance.view_journal' user journal as can_view_journal %}
                    {% if can_view_journal %}
                    <a href="{% url 'maintenance:journal-detail' journal.id %}"><button type="button"
                        class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        {% translate "View" %}
                      </button></a>
                    {% endif %}
                    {% has_perm 'maintenance.change_journal' user journal as can_change_journal %}
                    {% if can_change_journal %}
                    <a href="{% url 'maintenance:journal-update' journal.id %}"><button type="button"
                        class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        {% translate "Change" %}
                      </button></a>
                    {% endif %}
                    {% has_perm 'maintenance.delete_journal' user journal as can_delete_journal %}
                    {% if can_delete_journal %}
                    <a href="{% url 'maintenance:journal-delete' journal.id %}"><button type="button"
                        class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        {% translate "Delete" %}
                      </button></a>
                    {% endif %}
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
    <a href="{% url 'maintenance:journal-create' %}?object={{ object.id }}">
      <button type="button"
        class="inline-flex items-center p-2 border border-transparent rounded-full shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <!-- Heroicon name: outline/plus-sm -->
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
          aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
        </svg>
      </button>
    </a>
  </div>
  <div class="px-4 py-5 sm:px-6">
    <h2 id="applicant-information-title" class="text-lg leading-6 font-medium text-gray-900">
      {% translate "Sensor" %}
    </h2>
  </div>
  {% if sensor %}
  {% load rules %}
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  {% translate "Name" %}
                </th>
                <th scope="col" class="relative px-6 py-3">
                  <span class="sr-only">{% translate "Action" %}</span>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for sensor in sensor %}
              <tr class="bg-white">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <a href="{% url 'inventory:sensor-detail' sensor.id %}">{{ sensor.name }}</a>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <div class="ml-4 flex-shrink-0 flex space-x-4">
                    {% has_perm 'inventory.view_sensor' user sensor as can_view_sensor %}
                    {% if can_view_sensor %}
                    <a href="{% url 'inventory:sensor-detail' sensor.id %}"><button type="button"
                        class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        {% translate "View" %}
                      </button></a>
                    {% endif %}
                    {% has_perm 'inventory.change_sensor' user sensor as can_change_sensor %}
                    {% if can_change_sensor %}
                    <a href="{% url 'inventory:sensor-update' sensor.id %}"><button type="button"
                        class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        {% translate "Change" %}
                      </button></a>
                    {% endif %}
                    {% has_perm 'inventory.delete_sensor' user sensor as can_delete_sensor %}
                    {% if can_delete_sensor %}
                    <a href="{% url 'inventory:sensor-delete' sensor.id %}"><button type="button"
                        class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        {% translate "Delete" %}
                      </button></a>
                    {% endif %}
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
    <a href="{% url 'inventory:sensor-create' %}?object={{ object.id }}">
      <button type="button"
        class="inline-flex items-center p-2 border border-transparent rounded-full shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <!-- Heroicon name: outline/plus-sm -->
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
          aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
        </svg>
      </button>
    </a>
  </div>
</section>
{% endblock %}