{% extends "base.html" %}
{% load i18n %}
{% load rules %}
{% load humanize %}
{% block title %}Objector + {% translate "Object detail" %} + {{ object }}{% endblock %}
{% block h1 %}{% translate "Object detail" %}{% endblock %}
{% block h2 %}{{ object }}{% endblock %}
{% block content %}
<section aria-labelledby="objector-detail">
  <div class="bg-white shadow sm:rounded-lg">
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Name" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ object.name }}
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Status" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full bg-{{ object.status_color }}-100 text-{{ object.status_color }}-800">
              {{ object.get_status_display }}
            </div>
          </dd>
        </div>
        <div class="sm:col-span-2">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Location" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            <a href="{% url 'inventory:location-detail' object.location.id %}">{{ object.location }}</a>
          </dd>
        </div>
      </dl>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-2">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Description" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ object.description|linebreaksbr }}
          </dd>
        </div>
      </dl>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-2">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Owner" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ object.owner }}
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Management group" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ object.management_group }}
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Maintenance group" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ object.maintenance_group }}
          </dd>
        </div>
      </dl>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Created at" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ object.created_at }}
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Updated at" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ object.updated_at }}
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Created by" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ object.created_by }}
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Updated by" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ object.updated_by }}
          </dd>
        </div>
      </dl>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <div class="pt-5">
        <div class="flex justify-end">
          <a href="{% url 'maintenance:journal-list' %}?object={{ object.id }}" class="ml-3 bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            {% translate "Journal" %}
          </a>
          {% has_perm 'inventory.change_object' user object as can_change_object %}
          {% if can_change_object %}
          <a href="{% url 'inventory:object-update' object.id %}" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            {% translate "Change" %}
          </a>
          {% endif %}
          <a href="{% url 'inventory:object-list' %}" class="ml-3 bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            {% translate "List" %}
          </a>
          {% has_perm 'inventory.delete_object' user object as can_delete_object %}
          {% if can_delete_object %}
          <a href="{% url 'inventory:object-delete' object.id %}" class="ml-3 bg-white py-2 px-4 border border-red-300 rounded-md shadow-sm text-sm font-medium text-red-700 hover:bg-red-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            {% translate "Delete" %}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 py-5 sm:px-6">
    <h2 id="object-task-title" class="text-lg leading-6 font-medium text-gray-900">
      {% translate "Tasks" %}
    </h2>
  </div>
  {% if task_list %}
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="whitespace-nowrap py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">
                  {% translate "Name" %}
                </th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900 hidden md:table-cell">
                  {% translate "Description" %}
                </th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">
                  {% translate "Due on" %}
                </th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">
                  {% translate "Overdue on" %}
                </th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900 hidden md:table-cell">
                  {% translate "Updated at" %}
                </th>
                <th scope="col" class="relative whitespace-nowrap py-3.5 pl-3 pr-4 sm:pr-6 hidden lg:table-cell">
                  <span class="sr-only">{% translate "Action" %}</span>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for task in task_list %}
              <tr class="bg-white">
                <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-500 sm:pl-6">
                  <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full bg-{{ task.status_color }}-100 text-{{ task.status_color }}-800">
                    <a href="{% url 'maintenance:task-detail' task.id %}">{{ task.name }}</a>
                  </div>
                </td>
                <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500 hidden md:table-cell">
                  {{ task.description|truncatechars:20 }}
                </td>
                <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">
                  {{ task.due_at }}
                </td>
                <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">
                  {{ task.overdue_at }}
                </td>
                <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500 hidden md:table-cell">
                  {{ task.updated_at|naturaltime }}
                </td>
                <td class="relative whitespace-nowrap py-2 pl-3 pr-4 text-right text-sm font-medium sm:pr-6 hidden lg:table-cell">
                  <div class="ml-4 flex-shrink-0 flex space-x-4 justify-end">
                    {% has_perm 'journal.view_task' user task as can_view_task %}
                    {% if can_view_task %}
                    <a href="{% url 'maintenance:task-detail' task.id %}" class="text-indigo-600 hover:text-indigo-900">
                      {% translate "View" %}
                    </a>
                    {% endif %}
                    {% has_perm 'journal.change_task' user task as can_change_task %}
                    {% if can_change_task %}
                    <a href="{% url 'maintenance:task-update' task.id %}" class="text-indigo-600 hover:text-indigo-900">
                      {% translate "Change" %}
                    </a>
                    {% endif %}
                    {% has_perm 'journal.delete_task' user task as can_delete_task %}
                    {% if can_delete_task %}
                    <a href="{% url 'maintenance:task-delete' task.id %}" class="text-indigo-600 hover:text-indigo-900">
                      {% translate "Delete" %}
                    </a>
                    {% endif %}
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
    <a href="{% url 'maintenance:task-create' %}?object={{ object.id }}" class="inline-flex items-center p-2 border border-transparent rounded-full shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      <!-- Heroicon name: outline/plus-sm -->
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
      </svg>
    </a>
  </div>
  <div class="px-4 py-5 sm:px-6">
    <h2 id="object-sensor-title" class="text-lg leading-6 font-medium text-gray-900">
      {% translate "Sensors" %}
    </h2>
  </div>
  {% if sensor_list %}
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="whitespace-nowrap py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">
                  {% translate "Name" %}
                </th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">
                  {% translate "Description" %}
                </th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900 hidden md:table-cell">
                  {% translate "Updated at" %}
                </th>
                <th scope="col" class="relative whitespace-nowrap py-3.5 pl-3 pr-4 sm:pr-6 hidden lg:table-cell">
                  <span class="sr-only">{% translate "Action" %}</span>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for sensor in sensor_list %}
              <tr class="bg-white">
                <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-500 sm:pl-6">
                  <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full bg-{{ sensor.status_color }}-100 text-{{ sensor.status_color }}-800">
                    <a href="{% url 'inventory:sensor-detail' sensor.id %}">{{ sensor.name }}</a>
                  </div>
                </td>
                <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">
                  {{ sensor.description|truncatechars:20 }}
                </td>
                <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500 hidden md:table-cell">
                  {{ sensor.updated_at|naturaltime }}
                </td>
                <td class="relative whitespace-nowrap py-2 pl-3 pr-4 text-right text-sm font-medium sm:pr-6 hidden lg:table-cell">
                  <div class="ml-4 flex-shrink-0 flex space-x-4 justify-end">
                    {% has_perm 'inventory.view_sensor' user sensor as can_view_sensor %}
                    {% if can_view_sensor %}
                    <a href="{% url 'inventory:sensor-detail' sensor.id %}" class="text-indigo-600 hover:text-indigo-900">
                      {% translate "View" %}
                    </a>
                    {% endif %}
                    {% has_perm 'inventory.change_sensor' user sensor as can_change_sensor %}
                    {% if can_change_sensor %}
                    <a href="{% url 'inventory:sensor-update' sensor.id %}" class="text-indigo-600 hover:text-indigo-900">
                      {% translate "Change" %}
                    </a>
                    {% endif %}
                    {% has_perm 'inventory.delete_sensor' user sensor as can_delete_sensor %}
                    {% if can_delete_sensor %}
                    <a href="{% url 'inventory:sensor-delete' sensor.id %}" class="text-indigo-600 hover:text-indigo-900">
                      {% translate "Delete" %}
                    </a>
                    {% endif %}
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
    <a href="{% url 'inventory:sensor-create' %}?object={{ object.id }}" class="inline-flex items-center p-2 border border-transparent rounded-full shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      <!-- Heroicon name: outline/plus-sm -->
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
      </svg>
    </a>
  </div>
</section>
{% endblock %}
