{% extends "base.html" %}
{% load i18n %}
{% block title %}Objector + {% translate "Sensor list" %}{% endblock %}
{% block h1 %}{% translate "Sensor list" %}{% endblock %}
{% block content %}
{% if sensor_list %}
{% load rules %}
{% load humanize %}
<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                {% translate "Name" %}
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                {% translate "Object" %}
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                {% translate "Status" %}
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider hidden md:table-cell">
                {% translate "Updated" %}
              </th>
              <th scope="col" class="relative px-6 py-3 hidden lg:table-cell">
                <span class="sr-only">{% translate "Action" %}</span>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for sensor in sensor_list %}
            <tr class="bg-white">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                <a href="{% url 'inventory:sensor-detail' sensor.id %}">{{ sensor.name|truncatewords:"5" }}</a>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                {% if sensor.object %}
                <a href="{% url 'inventory:object-detail' sensor.object.id %}">
                  {{ sensor.object }}
                </a>
                {% else %}
                {{ sensor.object }}
                {% endif %}
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                <div
                  class="inline-flex items-baseline px-2.5 py-0.5 rounded-full bg-{{ sensor.status_color }}-100 text-{{ sensor.status_color }}-800">
                  {{ sensor.get_status_display }}
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 hidden md:table-cell">
                {{ sensor.updated_at|naturaltime }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium hidden lg:table-cell">
                <div class="ml-4 flex-shrink-0 flex space-x-4">
                  {% has_perm 'inventory.view_sensor' user sensor as can_view_sensor %}
                  {% if can_view_sensor %}
                  <a href="{% url 'inventory:sensor-detail' sensor.id %}"><button type="button"
                      class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                      {% translate "View" %}
                    </button></a>
                  {% endif %}
                  {% has_perm 'inventory.change_sensor' user sensor as can_change_sensor %}
                  {% if can_change_sensor %}
                  <a href="{% url 'inventory:sensor-update' sensor.id %}"><button type="button"
                      class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                      {% translate "Change" %}
                    </button></a>
                  {% endif %}
                  {% has_perm 'inventory.delete_sensor' user sensor as can_delete_sensor %}
                  {% if can_delete_sensor %}
                  <a href="{% url 'inventory:sensor-delete' sensor.id %}"><button type="button"
                      class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                      {% translate "Delete" %}
                    </button></a>
                  {% endif %}
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <nav class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6"
          aria-label="Pagination">
          <div class="hidden sm:block">
            <p class="text-sm text-gray-700">
              {% translate "Showing page" %}
              <span class="font-medium">{{ page_obj.number }}</span>
              {% translate "of" %}
              <span class="font-medium">{{ page_obj.paginator.num_pages }}</span>
            </p>
          </div>
          <div class="flex-1 flex justify-between sm:justify-end">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"
              class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
              {% translate "Previous" %}
            </a>
            {% endif %}
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"
              class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
              {% translate "Next" %}
            </a>
            {% endif %}
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% has_perm 'inventory.add_sensor' user sensor as can_add_sensor %}
{% if can_add_object %}
<div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
  <a href="{% url 'inventory:sensor-create' %}">
    <button type="button"
      class="inline-flex items-center p-2 border border-transparent rounded-full shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      <!-- Heroicon name: outline/plus-sm -->
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
      </svg>
    </button>
  </a>
</div>
{% endif %}
{% endblock %}
