{% extends "base.html" %}
{% load i18n %}
{% load rules %}
{% block title %}Objector + {% translate "Sensor detail" %} + {{ sensor }}{% endblock %}
{% block h1 %}{% translate "Sensor detail" %}{% endblock %}
{% block h2 %}{{ sensor }}{% endblock %}
{% block content %}
<section aria-labelledby="applicant-information-title">
  <div class="bg-white shadow sm:rounded-lg">
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Name" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ sensor.name }}
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Status" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            <div
              class="inline-flex items-baseline px-2.5 py-0.5 rounded-full bg-{{ object.status_color }}-100 text-{{ object.status_color }}-800">
              {{ sensor.get_status_display }}
            </div>
          </dd>
        </div>
        <div class="sm:col-span-2">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Object" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            <a href="{% url 'inventory:object-detail' sensor.object.id %}">{{ sensor.object }}</a>
          </dd>
        </div>
      </dl>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-2">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Description" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ sensor.description|linebreaksbr }}
          </dd>
        </div>
      </dl>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Created at" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ object.created_at }}
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Updated at" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ object.updated_at }}
          </dd>
        </div>
      </dl>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <div class="pt-5">
        <div class="flex justify-end">
          {% has_perm 'inventory.change_sensor' user sensor as can_change_sensor %}
          {% if can_change_sensor %}
          <button type="button" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <a href="{% url 'inventory:sensor-update' sensor.id %}">{% translate "Change" %}</a>
          </button>
          {% endif %}
          <button type="button" class="ml-3 bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <a href="{% url 'inventory:sensor-list' %}">{% translate "List" %}</a>
          </button>
          {% has_perm 'inventory.delete_sensor' user sensor as can_delete_sensor %}
          {% if can_delete_sensor %}
          <button type="button" class="ml-3 bg-white py-2 px-4 border border-red-300 rounded-md shadow-sm text-sm font-medium text-red-700 hover:bg-red-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <a href="{% url 'inventory:sensor-delete' sensor.id %}">{% translate "Delete" %}</a>
          </button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 py-5 sm:px-6">
    <h2 id="applicant-information-title" class="text-lg leading-6 font-medium text-gray-900">
      {% translate "Trigger" %}
    </h2>
  </div>
  {% if triggers %}
  {% load rules %}
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  {% translate "Name" %}
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  {% translate "Condition" %}
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  {% translate "Value" %}
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  {% translate "Sensor status" %}
                </th>
                <th scope="col" class="relative px-6 py-3">
                  <span class="sr-only">{% translate "Action" %}</span>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for trigger in triggers %}
              <tr class="bg-white">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <a href="{% url 'maintenance:trigger-detail' trigger.id %}">{{ trigger.name }}</a>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  {{ trigger.get_condition_display }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  {{ trigger.value }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full bg-{{ trigger.status_color }}-100 text-{{ trigger.status_color }}-800">
                  {{ trigger.get_sensor_status_display }}</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <div class="ml-4 flex-shrink-0 flex space-x-4">
                    {% has_perm 'maintenance.view_trigger' user trigger as can_view_trigger %}
                    {% if can_view_trigger %}
                    <button type="button" class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                      <a href="{% url 'maintenance:trigger-detail' trigger.id %}">{% translate "View" %}</a>
                    </button>
                    {% endif %}
                    {% has_perm 'maintenance.change_trigger' user trigger as can_change_trigger %}
                    {% if can_change_trigger %}
                    <button type="button" class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                      <a href="{% url 'maintenance:trigger-update' trigger.id %}">{% translate "Change" %}</a>
                    </button>
                    {% endif %}
                    {% has_perm 'maintenance.delete_trigger' user trigger as can_delete_trigger %}
                    {% if can_delete_trigger %}
                    <button type="button" class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                      <a href="{% url 'maintenance:trigger-delete' trigger.id %}">{% translate "Delete" %}</a>
                    </button>
                    {% endif %}
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
    <button type="button" class="inline-flex items-center p-2 border border-transparent rounded-full shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      <a href="{% url 'maintenance:trigger-create' %}?sensor={{ sensor.id }}">
        <!-- Heroicon name: outline/plus-sm -->
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
        </svg>
      </a>
    </button>
  </div>
</section>
{% endblock %}
