{% extends "base.html" %}
{% load i18n %}
{% block title %}Objector + Object detail + {{ object.name }}{% endblock %}
{% block h1 %}{% translate "Object detail" %}{% endblock %}
{% block h2 %}{{ object.name }}{% endblock %}
{% block content %}
<section aria-labelledby="applicant-information-title">
  <div class="bg-white shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h2 id="applicant-information-title" class="text-lg leading-6 font-medium text-gray-900">
        {% translate "Sensor detail" %}
      </h2>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        {{ sensor.name }}
      </p>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Name" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ sensor.name }}
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Status" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            <div
              class="inline-flex items-baseline px-2.5 py-0.5 rounded-full bg-{{ object.status_color }}-100 text-{{ object.status_color }}-800">
              {{ sensor.get_status_display }}
            </div>
          </dd>
        </div>
        <div class="sm:col-span-2">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Description" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ sensor.description|linebreaksbr }}
          </dd>
        </div>
      </dl>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Created at" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ object.created_at }}
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            {% translate "Updated at" %}
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ object.updated_at }}
          </dd>
        </div>
      </dl>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <div class="pt-5">
        <div class="flex justify-end">
          <a href="{% url 'inventory:sensor-update' sensor.id %}"><button type="button"
              class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">{% translate "Change" %}</button></a>
          <a href="{% url 'inventory:sensor-delete' sensor.id %}"><button type="button"
              class="ml-3 bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">{% translate "Delete" %}</button></a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}